.container-header{
    background-color: #ffffff;
    height: 10vh;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}

.main{
    background-color: #f1f1f1b6;
    height: 107vh;
}

.container-logo{
    padding: 0 0 0 30px;
}

.logo{
    width: 150px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}

.menu-hamburguer{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburguer .linha{
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
}

.header-item{
    height: 10vh;
    display: flex;
    align-items: center;
}  

.barra-pesquisar{
    background-color: #ffffff;
    width: 330px;
    height: 40px;
    border: 1px solid #CCCCCC;
    padding: 8px 12px;
    border-right: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.botao-pesquisar{
    width: 70px;
    height: 40px;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pesquisar{
    width: 80px;
    height: 50px;
    text-align: center;
    background-size: cover;
}

.icone{
    width: 34px;
    height: 34px;
    margin: 0 16px;
    cursor: pointer;
}

.avatar{
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.container-main{
    display: flex;
    justify-content: space-evenly;
}

.video-container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.dados-canal{
    margin-top: 15px;
    display: flex;
}

.imagem-video{
    width: 976px;
    height: 537px;
}

.avatar-canal{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 16px;
}

.inscrever-botao{
    width: 159px;
    height: 40px;
    background-color: #CC0000;
    color: #ffffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5%;
}

.titulo-video{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.nome-canal{
    font-size: 14px;
    font-weight: 600;
}

.inscritos{
    font-size: 14px;
    width: 120px;
    font-weight: 400;
}

.icone-video{
    display: flex;
    height: 34px;
    margin: 0 16px;
    align-items: center;
    justify-content: flex-start;
}

.icone-video p{
    font-size: 14px;
    font-weight: 600;
}

.visualizacao{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.descricao{
    font-size: 14px;
    font-weight: 400;  
    width: 620px;
}

.secao-videos{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.video{
    display: flex;
    margin-bottom: 15px;
    width: 32vw;
}

.video-info{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}